@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

.text-home {
  padding-top: 60px;
}

.logo {
  cursor: pointer;
  width: 135px;
  margin-right: auto;
}

li,
a,
button {
  font-family: 'Encode Sans', sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: aliceblue;
  text-decoration: none;
  padding: 5px 10px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10%;
  border-bottom: 5px solid #7503c2;
  border-image: linear-gradient(-90deg, #ddc485 50%, #7503c2 50%) 1;
}

.navBar li {
  display: inline-block;
  padding: 0px 12px;
}

.navBar li a:hover {
  color: #000000;
  background-color: #ddc485;
  border-radius: 25px 10px;
}

.button1 {
  padding: 9px 25px;
  background-color: #7503c2;
  margin-left: 50px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0;
}

.button2 {
  padding: 9px 25px;
  background-color: #7503c2;
  margin-top: 19px;
  margin-left: 2px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0;
}

.button1.hover {
  background-color: #ddc485;
}

section {
  color: rgb(255, 255, 255);
  font-family: 'Encode Sans', sans-serif;
  align-items: center;
  margin-top: 132px;
}

.home {
  display: flex;
  justify-content: space-around;
  padding-bottom: 40px;
}

.name1 {
  margin-top: 20px;
  color: #ddc485;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 40px;
}

.name2 {
  color: #ddc485;
  font-size: 80px;
  font-weight: 900;
  line-height: 80%;
}

.name3 {
  color: #7503c2;
  font-size: 20px;
  font-weight: 600;
  margin-top: 35px;
  margin-bottom: 35px;
}
.name4 {
  color: #ffffff;
  font-size: 16px;
  font-weight: normal;
}

.img-home {
  padding-top: 100px;
}

.img1 {
  width: 375px;
  display: inline-block;
}

.home2 {
  background-color: #262626;
  padding: 50px 0px 0px 0px;
  display: inline-block;
  justify-content: center;
}

.projects h2 {
  display: flex;
  justify-content: center;
  font-size: 60px;
  margin-top: 20px;
  color: #ffffff;
}

.barra {
  border-bottom: 6px solid #7503c2;
  border-color: #7503c2;
  margin: 0px 260px 0px;
}

.barra1 {
  border-bottom: 6px solid #262626;
  border-color: #262626;
  margin: 0px 260px;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0px 30px 0px 30px;
  padding-top: 45px;
  gap: 30px;
  padding-bottom: 120px;
}

.card-project-a,
.card-project-b,
.card-project-c {
  color: white;
  padding: 0px 12px;
  border-radius: 10px;
  box-shadow: 0 1.6rem 2.4rem rgb(0 0 0 / 25%);
  height: 300px;
  border: none;
}

.card-project-a {
  background: linear-gradient(to bottom, #2b2b2b 97%, #ffc107 3%);
}
.card-project-a:hover {
  background: #7503c2;
  background: linear-gradient(to bottom, #7503c2 97%, #ffc107 3%);
}
.card-project-b {
  background: linear-gradient(to bottom, #2b2b2b 97%, #e31f71 3%);
}
.card-project-b:hover {
  background: #7503c2;
  background: linear-gradient(to bottom, #7503c2 97%, #e31f71 3%);
}
.card-project-c {
  background: linear-gradient(to bottom, #2b2b2b 97%, #00ffbb 3%);
}
.card-project-c:hover {
  background: #7503c2;
  background: linear-gradient(to bottom, #7503c2 97%, #00ffbb 3%);
}

.icons-a,
.icons-b,
.icons-c {
  width: 64px;
  height: 70px;
  display: flex;
  justify-content: center;
  justify-self: center;
  margin: 18px auto;
}

.icons-a {
  color: #ffc107;
  background-color: #ffc1072c;
  border-radius: 50%;
}
.icons-b {
  color: #e31f71;
  background-color: #e31f712c;
  border-radius: 50%;
}
.icons-c {
  color: #00ffbb;
  background-color: #00ffbb2c;
  border-radius: 50%;
}

.cards h3 {
  display: flex;
  justify-content: center;
  margin-bottom: 13px;
}

.home3 {
  display: flex;
  justify-content: center;
  padding: 30px 170px;
  padding-bottom: 140px;
  flex-direction: row;
  align-items: center;
}

.img2 {
  width: 480px;
  border-radius: 10px;
}

.about-me h3 {
  padding-top: 1px;
  padding-bottom: 28px;
  color: #7503c2;
  font-size: 32px;
  font-weight: bold;
}

.about-me {
  padding-top:100px;
  padding-right: 30px;
  padding-left: 30px;
  font-size: 18px;
  font-weight: 100;
  padding-bottom: 118px;
}

.about-me h4 {
  color: #ddc485;
}

span {
  display: inline-block;
  width: 5rem;
  height: 0.3rem;
  background-color: #7503c2;
  width: 100%;
  height: 0.188rem;
  border-radius: 5px;
}


.home4 {
  font-family: 'Encode Sans', sans-serif;
  background: #7503c2;
  padding: 15px 30px;
  border-radius: 10px;
  border-top: 20px solid #00ffbb;
  border-color: #00ffbb;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 0px 360px 190px 360px;
}

.home4 .title h3 {
  text-align: center;
  font-size: 30px;
  padding-top: 15px;
  padding-bottom: 5px;
}
.home4 .title h4 {
  padding-top: 5px;
  padding-bottom: 13px;
  text-align: center;
  font-size: 16px;
  font-weight: 100;
}

.dados {
  display: flex;
  flex-direction: column;
}

.dados-simples {
  display: flex;
  gap: 12px;
  justify-content: left;
}

.dados-nome {
  gap: 12px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: left;
  margin-bottom: 12px;
}

.message {
  margin-top: 12px;
  display: flex;
  justify-content: space-evenly;
}

input {
  background: white;
  height: 34px;
  outline: none;
  border-style: solid;
  border-color: #ffffff;
  border-radius: 12px;
  font-size: 17px;
  padding-left: 10px;
}

textarea {
  background: white;
  outline: none;
  border-style: solid;
  border-color: #ffffff;
  border-radius: 12px;
  padding: 10px;
  font-size: 17px;
}

.submit-but {
  font-weight: lighter;
  color: #000000;
  background-color: #00ffbb;
  width: 100px;
  border-radius: 12px;
  border: none;
  outline: none;
  display: inline-block;
  margin-top: 12px;
  cursor: pointer;
  padding: auto;
  font-size: 14px;
  height: 32px;
}

.footer-home{
  background: #262626;
  padding: 30px;
  display: flex;
  justify-content:space-evenly;
  flex-direction: row;
  align-items: center;
}

.text-flooter{
  font-family:'Encode Sans', sans-serif; ;
  font-weight: lighter;
  font-size: 14px;
  color: #ddc485;
}

.icons-d{
  padding: 9px;
  color: #ddc485;
}

.icons-footer{
  display: flex;
  justify-content: space-around;
}

.logo-footer{
  width: 65px;
}

.icon-d a{
  width: 520px;
}
